PORT=3001
SERVICE_NAME=auth_service
MONGODB_URI=mongodb+srv://USERNAME:PASSWORD@cluster0.xxxxx.mongodb.net/auth-db
JWT_SECRET=add_secret_in_here
JWT_EXPIRES_IN=7d
ALLOWED_ORIGINS=http://localhost:5173,http://localhost:80